*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;

}
h1 {
  margin-top: 40px;
  text-transform: none;
  font-size: 40px;
  font-weight: normal;
  font-style: italic; font-family: "Playfair Display","Bookman",serif;
  color:#6d6d6d;  word-spacing:1px;
  letter-spacing: 0.5px;
  text-align: center;
}

#headingOpgaver, #headingFærdigeOpgaver {
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: none;
    font-size: 25px;
    font-weight: normal;
    font-family: "Playfair Display","Bookman",serif;
    color:#080808;
    letter-spacing: 0.5px;
    text-align: center;
}

.container{
    width: 40%;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%,-50%);
    border: 1px solid #707070;
}
 
#nyopgave{
    position: relative;
    padding: 30px 20px;
}
#nyopgave input{
    width: 75%;
    height: 45px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}

#nyopgave input:focus{
    outline: none;
    border-color: #0d75ec;
}
#nyopgave button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}
#nyopgave button:hover{
  background-color: #0d5cb6;
}

#opgaver, #færdigeOpgaver {
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 0px 20px 20px;
    margin-top: 10px;
    display: none;
}

.opgave {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid #939697;
    background-color: #ffffff;
    margin-bottom: 8px;
    padding: 5px 10px;
    
}
.opgave span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
    
}
.opgave button{
    background-color: #eb4d38;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.opgave button:hover {
  background-color: #d44734;
}


.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    align-self: flex-start;
    margin-top: 10px
}

input[type='checkbox'] {
    accent-color: #0E9700;
}

.opgave span {
    flex: 1;
    word-wrap: break-word;
    max-width: calc(100% - 80px);
    margin-top: 8px
}
  
  
.opgave button {
    margin-left: auto;
}





